/* Login.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app-background {
  background-image: url('/home/joey/user-auth-app/src/bg.jpg'); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  max-width: 500px; /* Increased width */
  width: 100%;
}

.login-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem; /* Increased font size */
}

.input-container {
  margin-bottom: 25px; /* Increased margin for better spacing */
}

.login-input {
  width: 100%;
  height: 45px; /* Increased height */
  border-width: 5px;
  border-radius: 25px;
  border-color: black;
  padding: 0 20px; /* Increased padding for better spacing */
  background: #ffffff;
  color: #000000;
  font-size: 1rem; /* Increased font size */
}

.login-input.error {
  border-color: red;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.login-button {
  width: 100%;
  height: 45px; /* Increased height */
  margin-top: 15px; /* Increased margin for better spacing */
  font-size: 1rem; /* Increased font size */
}

.success-message {
  color: green;
  margin-top: 15px; /* Increased margin for better spacing */
}

.signup-container {
  margin-top: 15px; /* Margin for spacing */
}

.signup-text {
  color: white;
  font-size: 1rem; /* Font size */
}

.signup-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem; /* Increased font size */
}

.signup-link:hover {
  text-decoration: underline;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-text {
  color: white;
  margin-top: 10px;
}
